.detail-card {
  border: 2px solid black;
  color: black;
  background-color: #fff;
  padding: 5px;
  width: 25%;
}

.detail-header {
  display: flex;
  align-items: center;
  border-bottom: 1px dotted black;
}

.back-btn {
  display: block;
  margin: 10px auto;
  color: black;
  height: 100%;
  margin: 0px 5px;
  text-decoration: none;
}