h1 {
  font-family: 'STARWARS';
  margin: auto;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 68px;
  color: #f1f1f1;
}

.app-header {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  width: 100%;
  height: 100px;
}

.header-accent-color {
  color: $primaryColor;
}

.header-btn {
  align-items: center;
  background-color: grey;
  border: 1px solid white;
  color: white;
  display: flex;
  font-family: 'STARWARS';
  font-size: 14px;
  grid-row-end: 2;
  grid-row-start: 1;
  height: 50%;
  width: 100%;
  justify-content: center;
  text-decoration: none;
  margin: auto;
}

.home-btn {
  grid-column-end: 2;
  grid-column-start: 1;
}

.fav-btn {
  grid-column-end: 4;
  grid-column-start: 3;
}


