h1 {
  margin: auto;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 40px;
}

.app-header {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  width: 100%;
  height: 100px;
}

.header-accent-color {
  color: $primaryColor;
}

.header-favorite-btn {
  height: 50%;
  align-self: center;
}

