.info-card {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
}

h3 {
  margin: auto;
  margin: margin 5px 0px;
}

.info-card-header {
  display: flex;
  border-bottom: 2px dotted;
}

// .header-favorite-btn {
//   height: 100%;
// }