.info-card-container {
  background-color: rgba(241, 241, 241, .5);
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: fit-content;
  padding: 10px;
}