nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 100px;
}

.navbar-btn {
  align-items: center;
  background-color: grey;
  border: 2px solid white;
  color: white;
  display: flex;
  font-family: 'STARWARS';
  height: 35px;
  justify-content: center;
  text-decoration: none;
  width: 150px;
}

.nav-icon {
  width: 30px;
  margin: 0px 10px;
}

.activated {
  background-color: $primaryColor;
}