.App {
  display: flex;
  flex-direction: row;
  background-image: url("./images/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}

.app-right-side {
  width: 100%;
  padding: 10px;

}

body {
  margin: 0px;
}