* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.app-right-side {
  padding: 10px;
  width: 100%;

}

.loading-container {
  display: flex;
  height: 95%;
  justify-content: center;
  margin: auto;
  width: 95%;
}

.loadingGif {
  height: 400px;
}

body {
  background-image: url("./images/background2.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  margin: 0px;
}