@media only screen and(max-width: 800px) {

  * {
    box-sizing: border-box;
  }

  .app-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  h1 {
    font-size: 3em;
    margin: 0;
  }

  .header-btn {
    width: 100%;
  }

  nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .navbar-btn {
    width: 100%;
  }
  
  aside {
    display: none;
  }

  h2 {
    text-align: center;
  }

  .home-icon {
    width: 50%;
  }

  .loadingGif {
    height: 60%;
    width: 60%;
  }

  .detail-card {
    width: 280px;
  }
}