
.info-card {
  background-color: #f1f1f1;
  border: 2px solid;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 10px auto;
  text-align: center;
  width: 250px;
}

.info-card-header {
  border-bottom: 2px dotted;
  display: flex;
}

.bold {
  font-weight: 800;
}

h3 {
  margin: 5px auto;
}

.person-card-link {
  color: black;
  text-decoration: none;
}

.favorite-img{
  box-sizing: border-box;
  height: 30px;
  width: 30px;
}